html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-log {
    float: right;
    background-color: #00000000;
    border: hidden;
}

    .button-log:hover{
        background-color: #00000080;
}

.menu {
    max-width: 10rem;
    margin: auto;
    border: 5px dotted #ff6a00;
    background-color: #808080;
    text-align: center;
}

.button-menu {
    margin: 10px;
    padding:5px;
    border: 1px solid #000000;
    background-color: #00000000;
}

    .button-menu:hover {
        background-color: #00000080;
    }

nav {
    padding-bottom: 1rem;
}

.title {
    padding: 5rem 0;
    text-align: center;
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px;
    color: #363833;
    text-shadow: -1.5px 0 #ffb338, 0 1.5px #ffb338, 1.5px 0 #ffb338, 0 -1.5px #ffb338;
}

.background {
    z-index: -1;
    text-align: center;
    padding-bottom: 15rem;
    background-color: #00000040;
    background-image: url('../ph.png');
}

@keyframes swing {
    0%, 100% {
        transform: rotate(-20deg);
    }

    20% {
        transform: scale(.95);
    }

    50% {
        transform: rotate(20deg);
    }

    80% {
        transform: scale(.95);
    }
}

#sweetlandia {
    animation: swing 8s infinite ease-in-out;
}
