html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-log {
    float: right;
    background-color: #00000000;
    border: hidden;
}

    .button-log:hover{
        background-color: #00000080;
}

.menu {
    max-width: 10rem;
    margin: auto;
    border: 5px dotted #ff6a00;
    background-color: #808080;
    text-align: center;
}

.button-menu {
    margin: 10px;
    padding:5px;
    border: 1px solid #000000;
    background-color: #00000000;
}

    .button-menu:hover {
        background-color: #00000080;
    }

nav {
    padding-bottom: 1rem;
}

.title {
    padding: 5rem 0;
    text-align: center;
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px;
    color: #363833;
    text-shadow: -1.5px 0 #ffb338, 0 1.5px #ffb338, 1.5px 0 #ffb338, 0 -1.5px #ffb338;
}

.background_Home {
    z-index: -1;
    text-align: center;
    padding-bottom: 15rem;
    background-color: #00000040;
    background-image: url('../ph.png');
    height: 50rem;
    width:79.9rem;
    margin-left:-5rem;
}

.background_Game {
    z-index: -1;
    text-align: center;
    padding-bottom: 15rem;
    background-color: #00000040;
    background-image: url('../ph.png');
    height: 50rem;
    width: 79.9rem;
    margin-left: -5rem;
}

.npc_dialog_box {
    z-index: 1;
    width: 20rem;
    position: relative;
    top: -5rem;
    left: 49rem;
    word-wrap: anywhere;
}

.npc_image {
    max-block-size: 15rem;
}

.npc_dialog_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc_dialog_box {
    z-index: 1;
    width: 20rem;
    position: relative;
    top: 1rem;
    left: 15rem;
    word-wrap: anywhere;
}

.pc_image {
    max-block-size: 15rem;
}

.pc_dialog_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc {
    width: 20rem;
    height: 35rem;
    position: relative;
    top: -20rem;
    left: -20rem;
}

.npc {
    width: 10rem;
    height: 25rem;
    position: relative;
    top: -15rem;
    left: 0rem;
}

@keyframes swing {
    0%, 100% {
        transform: rotate(-20deg);
    }

    20% {
        transform: scale(.95);
    }

    50% {
        transform: rotate(20deg);
    }

    80% {
        transform: scale(.95);
    }
}

#sweetlandia {
    animation: swing 8s infinite ease-in-out;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 10rem;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}