html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-log {
    margin: 5px;
    float: right;
    background-color: #00000000;
    border: hidden;
}

    .button-log:hover{
        background-color: #00000080;
}

.menu {
    max-width: 12rem;
    padding:10px;
    margin: auto;
    background-color: #80808050;
    text-align: center;

}

.button-menu {
    margin: 10px;
    padding:5px;
    border: 1px solid #000000;
    background-color: #00000000;
}

    .button-menu:hover {
        background-color: #00000080;
    }

nav {
    padding-bottom: 1rem;
}

.title {
    padding: 5rem 0;
    text-align: center;
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px;
    color: #363833;
    text-shadow: -1.5px 0 #ffb338, 0 1.5px #ffb338, 1.5px 0 #ffb338, 0 -1.5px #ffb338;
}

.background_Home {
    z-index: -1;
    text-align: center;
    padding:35px;
    padding-top:70px;
    background-color: #000000a0;
    background-size: 70rem;
    height: 56rem;
    width: 79.37rem;
    margin-left: -5rem;   
}

.background_Home_Image {
    background-image: url('../castle background.png');
    background-repeat: no-repeat;
    background-size: 70rem;
    height: 49rem;
    margin: 35px;
}

.background_Game {
    z-index: -1;
    text-align: center;
    padding: 35px;
    padding-top: 70px;
    background-color: #000000a0;
    background-size: 70rem;
    height: 56rem;
    width: 79.37rem;
    margin-left: -5rem;
}

.background_Game_Image {
    transform: scaleX(-1);
    background-image: url("../king's room3.png");
    background-repeat: no-repeat;
    background-size: 70rem;
    height: 49rem;
    margin: 35px;
}

.npc_dialog_box {
    z-index: 1;
    width: 20rem;
    position: relative;
    top: -65rem;
    left: 41rem;
    word-wrap: anywhere;
    transform: scaleX(-1);
}

.npc_image {
    max-block-size: 15rem;
}

.sistem {
    background: #fff;
    position: relative;
    top: -70rem;
    word-wrap: anywhere;
}

.stats {
    z-index: 2;
    position: relative;
    top: -112rem;
    right: 30rem;
}

.coin {
    position: relative;
    top: -2px;
    max-block-size: 1rem;
}

.sistem_m1 {
    z-index: 1;
    position: relative;
    word-wrap: anywhere;
}

    .sistem_m1 span {
        opacity: 0;
    }

        .sistem_m1 span.revealed {
            opacity: 1;
        }

        .sistem_m1 span.green {
            color: #27ae60;
        }

        .sistem_m1 span.red {
            color: #ff0000;
        }

.sistem_m2 {
    z-index: 1;
    position: relative;
    word-wrap: anywhere;
}

    .sistem_m2 span {
        opacity: 0;
    }

        .sistem_m2 span.revealed {
            opacity: 1;
        }

        .sistem_m2 span.green {
            color: #27ae60;
        }

        .sistem_m2 span.red {
            color: #ff0000;
        }

.sistem_m3 {
    z-index: 1;
    position: relative;
    word-wrap: anywhere;
}

    .sistem_m3 span {
        opacity: 0;
    }

        .sistem_m3 span.revealed {
            opacity: 1;
        }

        .sistem_m3 span.green {
            color: #27ae60;
        }

        .sistem_m3 span.red {
            color: #ff0000;
        }

.npc_dialog_text {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    transform: scaleX(-1);
}

    .npc_dialog_text span {
        opacity: 0;
    }

        .npc_dialog_text span.revealed {
            opacity: 1;
        }

        .npc_dialog_text span.green {
            color: #27ae60;
        }

        .npc_dialog_text span.red {
            color: #ff0000;
        }

.pc_dialog_box {
    z-index: 1;
    width: 20rem;
    position: relative;
    top: -53rem;
    left: 15rem;
    word-wrap: anywhere;
}

.pc_image {
    max-block-size: 15rem;
}

.pc_dialog_text {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

    .pc_dialog_text span {
        opacity: 0;
    }

        .pc_dialog_text span.revealed {
            opacity: 1;
        }

        .pc_dialog_text span.green {
            color: #27ae60;
        }

        .pc_dialog_text span.red {
            color: #ff0000;
        }

.pc {
    width: 25rem;
    height: 25rem;
    position: relative;
    top: -73rem;
    left: -32rem;
}

.npc {
    width: 25rem;
    height: 25rem;
    position: relative;
    top: -71rem;
    left: 38rem;
}

@keyframes swing {
    0%, 100% {
        transform: rotate(-20deg);
    }

    20% {
        transform: scale(.95);
    }

    50% {
        transform: rotate(20deg);
    }

    80% {
        transform: scale(.95);
    }
}

@keyframes big {
    0% {
        transform: scale(.0);
    }

    100% {
        transform: scale(1);
    }
}

#sweetlandia {
    animation: swing 8s infinite ease-in-out;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
        text-align: center;
        margin:10px;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

    .close:hover {
        color: #06D85F;
    }

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        font-size:15px;
        color: #000;
        text-decoration: none;
    }

.button1:hover {
    font-size: 30px;
    color: #06D85F;
}

.button-pop {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

    .button-pop:hover {
        color: #06D85F;
        font-size: 30px;
    }