@page
@model Fable.Pages.Index1Model
@{
    ViewData["Title"] = "Home screen:game";
}
<div class="background_Home">
<nav>

    <button class="button-log">Log in</button>

    <button class="button-log">Sign up</button>

</nav>

    <div class="title" id="sweetlandia">

    Place Holder

</div>

<div class="menu">

        <div class="button-menu">
            <a class="button" href="/Index2">Start new game</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup1">Continue game</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup2">Rank</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup3">Credits</a>
        </div>

</div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Here i am</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
                1
            </div>
        </div>
    </div>

    <div id="popup2" class="overlay">
        <div class="popup">
            <h2>Here i am</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
                2
            </div>
        </div>
    </div>

    <div id="popup3" class="overlay">
        <div class="popup">
            <h2>Here i am</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
                3
            </div>
        </div>
    </div>

</div>