@page
@model Fable.Pages.Index2Model
@{
    ViewData["Title"] = "Game screen";
}
<div class="background_Game">
    <div class="background_Game_Image"></div>
    <div class="close">
        <a class="button1" href="/Index1">&times;</a>
        </div>
    
    <div class="pc_dialog_box" id="pc_dialog">
        <img class="pc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="pc_dialog_text" id="pc_dialog_text">ifjhasiogjadiokgjpkioasjgoaopgkjaofjapdghjuiasshdijuqashijughqaiujghqijufghiujaqhgijaqdfhgijadfh</div>
    </div>

    <div class="npc_dialog_box" id="npc_dialog">
        <img class="npc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="npc_dialog_text" id="npc_dialog_text">ifjhasiogjadiokgjpkioasjgoaopgkjaofjapdghjuiasshdijuqashijughqaiujghqijufghiujaqhgijaqdfhgijadfh</div>
    </div>

    <img class="npc" src="~/girl-5108518_1280.webp" />
    <img class="pc" src="~/kingknight-grand.webp" />
</div>
