@page
@model Fable.Pages.Index2Model
@{
    ViewData["Title"] = "Game screen";
}
<div class="background_Game">
    
    <div class="pc_dialog_box" id="pc_dialog">
        <img class="pc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="pc_dialog_text" id="pc_dialog_text">ifjhasiogjadiokgjpkioasjgoaopgkjaofjapdghjuiasshdijuqashijughqaiujghqijufghiujaqhgijaqdfhgijadfh</div>
    </div>

    <div class="npc_dialog_box" id="npc_dialog">
        <img class="npc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="npc_dialog_text" id="npc_dialog_text">ifjhasiogjadiokgjpkioasjgoaopgkjaofjapdghjuiasshdijuqashijughqaiujghqijufghiujaqhgijaqdfhgijadfh</div>
    </div>

    <img class="pc" src="~/blue(place holder).png" />
    <img class="npc" src="~/red(place holder).png" />
</div>