@page
@model Fable.Pages.Index1Model
@{
    ViewData["Title"] = "Home screen:game";
}
<div class="background">
<nav>

    <button class="button-log">Log in</button>

    <button class="button-log">Sign up</button>

</nav>

    <div class="title" id="sweetlandia">

    Place Holder

</div>

<div class="menu">

    <button class="button-menu">Start new game</button>

    <button class="button-menu">Continue game</button>

    <button class="button-menu">Rank</button>

    <button class="button-menu">Credits</button>

</div>
</div>