@page
@model Fable.Pages.Index2Model
@{
    ViewData["Title"] = "Game screen";
}
<div class="background_Game">
    <div class="background_Game_Image"></div>
    <div class="close">
        <a class="button1" href="/Index1">&times;</a>
        </div>
    
    <div class="pc_dialog_box" id="pc_dialog">
        <img class="pc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="pc_dialog_text" id="pc_dialog_text"></div>
    </div>

    <div class="npc_dialog_box" id="npc_dialog">
        <img class="npc_image" src="~/nicepng_rectangle-box-png_1917734.png" />

        <div class="npc_dialog_text" id="npc_dialog_text"></div>
    </div>

    <img class="npc" src="~/girl-5108518_1280.webp" />
    <img class="pc" src="~/kingknight-grand.webp" />

    <div class="sistem">
        <div class="sistem_m1" id="sistem_m1"></div>
        <div class="sistem_m2" id="sistem_m2"></div>
        <div class="sistem_m3" id="sistem_m3"></div>
    </div>

    <dev class="stats">
        <img class="coin" src="~/purepng.com-gold-coinsflatcoinsroundmetalgoldclipart-1421526479602pcbjc.webp" />
        <div class="coin_s" id="num1"></div>

        <img class="coin" src="~/unknown_man_emoji_large.webp" />
        <div class="coin_s" id="num2"></div>

        <img class="coin" src="~/trust.webp" />
        <div class="coin_s" id="num3"></div>
    </dev>

</div>
