@page
@model Fable.Pages.Index1Model
@{
    ViewData["Title"] = "Home screen:game";
}
<div class="background_Home">
    <nav>

        <a class="button-log" href="#popup4">Log in</a>

        <a class="button-log" href="#popup5">Sign up</a>

    </nav>
    <div class="background_Home_Image">

    <div class="title" id="sweetlandia">

    Place Holder

</div>

<div class="menu">

        <div class="button-menu">
            <a class="button" href="/Index2">Start new game</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup1">Continue game</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup2">Rank</a>
        </div>

        <div class="button-menu">
            <a class="button" href="#popup3">Credits</a>
        </div>

</div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>

        </div>
    </div>

    <div id="popup2" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>

        </div>
    </div>

    <div id="popup3" class="overlay">
        <div class="popup">
            <h2>Credits</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Мартин Апостолов:
            </div>
            <div class="content">
            Виктор Павлов:
            </div>
            <div class="content">
                Йоан Божилов:
            </div>
        </div>
    </div>

    <div id="popup4" class="overlay">
        <div class="popup">
            <h2>Log In</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Name: <input type="text" name="name"><br>
            </div>
            <div class="content">
                E-mail: <input type="text" name="email"><br>
            </div>
            <div class="content">
                Password: <input type="text" name="password"><br>
            </div>
            <div class ="content">
                <a class="button-pop" href="#">Log In</a>
            </div>
        </div>
    </div>

    <div id="popup5" class="overlay">
        <div class="popup">
            <h2>Sign Up</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Name: <input type="text" name="name"><br>
            </div>
            <div class="content">
                E-mail: <input type="text" name="email"><br>
            </div>
            <div class="content">
                Password: <input type="text" name="password"><br>
            </div>
            <div class="content">
                <a class="button" href="#popup4">Already have an account?</a>
            </div>
            <div class="content">
                <a class="button-pop" href="#">Sign Up</a>
            </div>
        </div>
    </div>
    </div>
</div>